DATABASE_URL=postgresql://postgres:postgres@localhost:5432/driftguard
REDIS_URL=redis://localhost:6379

# Service API Keys
STRIPE_API_KEY=
VERCEL_API_TOKEN=
SENDGRID_API_KEY=

# Slack
SLACK_WEBHOOK_URL=

# Polling interval (cron expression, default: every 6 hours)
POLL_INTERVAL=0 */6 * * *

# Server
PORT=3000
NODE_ENV=development

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3RlYWR5LWhlZGdlaG9nLTU3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_FutdWWXuq226Njt5ZRwlknY9omqmHH8RsksCPir4gt
NEXT_PUBLIC_SUPABASE_URL=https://vznnpxkhgqzadbblwnwu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6bm5weGtoZ3F6YWRiYmx3bnd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ4NTMxNSwiZXhwIjoyMDg5MDYxMzE1fQ.nKJ6UiLJeZiqykpJl0OpsQGqKGwFiIxpf9PmHJjLhCY
